@font-face {
  font-family: nanum squar;
  src: url('../../fonts/Nanum/NanumSquareR.ttf')
}

@font-face {
  font-family: baemin;
  src: url("../../fonts/baemin/BMEULJIRO.otf");
}

@font-face {
  font-family: gmarket;
  src: url("../../fonts/gmarket/GmarketSansTTFMedium.ttf");
}

@font-face {
  font-family: anemone;
  src: url("../../fonts/anemone.ttf")
}
